* {
    box-sizing: border-box;
}
#app {
    max-width: 980px;
    margin: 0 auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
thead th {
    border-bottom: 2px solid #0099e4; /*#d31c4a */
    color: #0099e4;
}
th,
th {
    padding: 0 8px;
    line-height: 40px;
}
thead th.id {
    width: 50px;
}
thead th.state {
    width: 100px;
}
thead th.button {
    width: 60px;
}
tbody td.button, tbody td.state {
    text-align: center;
}
tbody tr td,
tbody tr th {
    border-bottom: 1px solid #ccc;
    transition: all 0.4s;
}
tbody tr.done td,
tbody tr.done th {
    background: #f8f8f8;
    color: #bbb;
}
tbody tr:hover td,
tbody tr:hover th {
    background: #f4fbff;
}

tbody tr td.deadline {
    text-align: center;
    width: 10em;
}
tbody button {
    border: none;
    border-radius: 20px;
    line-height: 24px;
    padding: 0 8px;
    background: #0099e4;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.add-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-content {
    border-radius: 3px 0 0 3px;
    border: 1px solid #ccc;
    flex: 1;
}

.form-deadline {
    border: 1px solid #ccc;
    border-radius: 0 3px 3px 0;
    border-left: 0;
}

.add-form input {
    padding: .25em .5em;
    height: 38px;
    font-size: 100%;
}

.add-form button {
    margin-left: 2em;
    border: none;
    border-radius: 8px;
    line-height: 24px;
    padding: 5px 15px;
    background: #0099e4;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: .8em;
    height: 36px;
}

.add-form button:disabled {
    opacity: .5;
    cursor: default;
}

.editingContent .view , .editingDeadline .view {
    display: none;
}

.view label, .editingContent .edit, .editingDeadline .edit {
    padding: 2px 5px;
    letter-spacing: 0.05em;
}

.deadline .view label {
    font-size: .85em;
}

.editingContent .edit, .editingDeadline .edit{
    display: block;
    line-height: 1.5;
    font-size: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.td-content label:hover, .deadline label:hover{
    outline: 1px solid #d0d3d6;
}

tr td .edit {
    display: none;
}

.view label {
    display: block;
}

.view label:empty {
    display: block;
}
input[type="date"]::-webkit-inner-spin-button{
     -webkit-appearance: none;
 }

input[type="date"]::-webkit-clear-button{
    position: relative;
    z-index: 1;
}

input[type="date"] {
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: space-between;
}

.sort {
    position: relative;
}

.sort select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 40px 0 10px;
    height: 35px;
}

.sort::before {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -5px;
    border-bottom: solid 2px #b4b3b3;
    border-right: solid 2px #b4b3b3;
    transform: rotate(45deg);
}
